[alias]
	aa = add -A .
	b  = branch
	st = status
	ci = commit
	co = checkout
	cp = cherry-pick
	put = push origin HEAD
	fixup = commit --fixup
	squash = commit --squash
	doff = reset HEAD^
	ri = rebase --interactive
	br = branch
	pruneremote = remote prune origin
	tree = log --graph --oneline --decorate --color --all
	tr = log --graph --oneline --decorate --color
	add-untracked = !"git status --porcelain | awk '/\\?\\?/{ print $2 }' | xargs git add"
	reset-authors = commit --amend --reset-author -CHEAD
	rmbranch = !"git branch -d $(git branch --merged)"
        snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
	pushf = push --force-with-lease
	append = commit --amend -CHEAD
	pnb = push -u origin HEAD
	lart = for-each-ref --sort=committerdate refs/heads/ --format='%(committerdate:short) %(refname:short)'
[branch]
	autosetuprebase = always
[color]
	ui = auto
[core]
	excludesfile = ~/.cvsignore
	editor = mvim -v
	whitespace = warn
[help]
	autocorrect = 10
[interactive]
	singlekey = true
[merge]
	summary = true
[merge "bundlelock"]
	name = lock Gemfile
	driver = bundle install
[merge "bundle"]
	name = bundle
	driver = bundle
[push]
	default = upstream
	followTags = true
[rebase]
	autosquash = true
[rerere]
        enabled = true
        autoupdate = true
[diff]
	algorithm = patience
	compactionHeuristic = true
[include]
	path = ~/.gitconfig.local
[fetch]
	prune = true
[user]
	useconfigonly = true
